.zoomable-image {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.zoomable-image img {
  transition: transform 0.3s ease;
}

.zoomable-image:hover img {
  transform: scale(
    1.2
  ); /* You can adjust the scale factor for the zoom effect */
}
